#container {
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(184,184,184,1);
  box-shadow: 0px 0px 5px 2px rgba(184,184,184,1);
}

#grade {
  float: left;
  margin-right: 5%;
}

p {
  padding-top: 0%;
}

h3{
  padding-top:15%;
  padding-right:15%;
  padding-left:15%;
}

#content{
  margin-top:8%;
  margin-right:15%;
  padding-bottom: 15%;
  margin-left:15%;
}